/******************************************
How to Include chosen Google Fonts:

font-family: 'Nunito Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
******************************************/

/******************************************
GENERAL
******************************************/
/*Wrapper section styles. Includes everything under the nav down to the footer.*/
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

.highlight {
    font-weight: bold;
}

a {
    text-decoration: none; /** Removes link styling. **/
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

.tabbed {
    padding-left: 1.5em;
}

.social-icon {
    font-weight: 5em;
    margin: 5px;
}


/******************************************
COLORS
******************************************/

/*Site body*/
body, p, figure figcaption {
    background-color: #f0f5f5;
    color: #242424;
}

/*Header section*/

header {
    border-color: #af5920;
    /*** background: #93420C; ***/
    background: #f27a2b;
}

/*nav bkgrd on mobile*/
nav {
    background: #af5920;
}

/*Logo text*/
#logo h1, 
#logo h2 {
    color: #fff;
}

.mainHeadline {
   color:#682d06;
   text-align: center;
}

/*links*/
a {
   color: #7d6608;
}

/*nav styles*/
nav a, 
nav a:visited {
    color: #fff;
}

nav a.selected, nav a:hover {
    color: #1C0800;
}

.error {
   color: darkred;
   font-weight: bold;
}

.social-icon {
    color: #af5920;
}

#gallery img {
    border: 2px solid #af5920;
}

#gallery figcaption {
    color: black;
}

.resume-photo {
    border: 2px solid #af5920;
}

#resumeWrapperA h1 h2 {
    color: #af5920;
}

#resumeName {
    color: #af5920;
}

#resumeWrapperB h1 h2 {
    font: black;
}

#a11yContent h1, h2, h3 {
    color:#af5920;
}


/******************************************
HEADING
******************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

/*Logo encompasses just the part where it says my name and a title.*/
#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

#logo h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9em;
    /*** margin: -5px 0 0; ***/
    margin: -5px 5px 6px;
    font-weight: normal;
}


/******************************************
NAVIGATION
******************************************/
nav {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}
nav a {
    font-weight: 700;
    padding: 15px 10px;
}


/******************************************
PAGE: MAIN PAGE
******************************************/
#gallery, 
#gallery figcaption {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery dt {
    float: left;
    width: 45%;
    margin: 1%;
}

#gallery img {
    border-radius: 25px;
}

#gallery figcaption {
    margin: 0;
    padding: 1%;
    font-size: 0.80em;
    text-align: center;
}


/******************************************
PAGE: RESUME
******************************************/

.resume-photo {
    display: block;
    /** Using Block allows us to center the image using margins. Default is inline. **/
    max-width: 175px;
    margin: 0 auto 30px;
    border-radius: 100%;
}

#resumeWrapperA h1 h2 {
    margin: 10 auto;
}

#resumeName {
    font-size: 3em;
}

#resumeEmail {
    font-size: 1em;
}

#professionalProfileList {
    display: block;
    text-align: center;  
}

#professionalProfileList li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 3em;
}


/******************************************
PAGE: ACCESSIBILITY
******************************************/
.siteList dt {
    font-weight: bold;
}

#a11yTitle {
    display: block;
    text-align: center;
}

.a11ySubTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
}


/******************************************
PAGE: CONTACT
******************************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.corgiLogo {
    max-height: 275px;
}

#secondary {
    align-content: space-around;
}


/******************************************
FOOTER
******************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}