/* Applies to many smartphones in landscape mode. */

@media screen and (min-width: 616px) {

    /******************************************
    TWO COLUMN LAYOUT
    ******************************************/
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    
    /******************************************
    PORTFOLIO GALLERY 3 COLUMN LAYOUT

    2.5% (l/r margins of pics) * 5 = 15%
    100% - 15% = 85%
    85% / 3 images = 28.3333% of width to be 
    taken up by pictures.
    ******************************************/
    #gallery dt {
        width: 28.3333%;
    }
    #gallery dt:nth-child(3n+1) {
        clear: left;
    }
}

    /******************************************
    PAGE: ABOUT
    ******************************************/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }


/**** @media screen and (min-width: 660px) {  ***/
@media screen and (min-width: 773px) {

    /******************************************
    HEADER
    ******************************************/
    nav { /* This will make the nav links float to the right at larger resolutions. */
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }

    #logo {
        background: none;
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
}

header {
    /*** border-bottom: 5px solid #f1c40f; ***/
    border-bottom: 5px solid #af5920;
    margin-bottom: 60px;
}

@media screen and (max-width: 615px) {
    #secondary{
        display: none;
    }
    #primary {
        max-width: 100%;
    }
}